html {
  overflow-y: auto !important;
}

.horizontal-vertical-center {
  //position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
