html {
  overflow-y: auto !important;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
