// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$game-zoo-blue: #0099FF;
$game-zoo-back: #FFFFCC;
$ultimate-gray: #939597;
$illuminating: #F5DF4D;

$media-xs: 600px;
$media-sm: 960px;
$media-md: 1264px;
$media-lg: 1904px;
